workflow_5_assemblage_final.json
{
  "name": "Workflow 5: Assemblage Final (FINAL)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appnest-assemble",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-w5",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 460],
      "webhookId": "appnest-assemble"
    },
    {
      "parameters": {
        "jsCode": "// Extract input\nconst input = $input.first().json;\nconst data = input.body || input;\n\nreturn {\n  conversation_id: data.conversation_id,\n  business_domain: data.business_domain,\n  schema: data.schema,\n  generated_components: data.generated_components || [],\n  summary: data.summary || {}\n};"
      },
      "id": "extract-input-w5",
      "name": "Extract Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 460]
    },
    {
      "parameters": {
        "jsCode": "// Create Grist table schema JSON\nconst schema = $json.schema;\nconst businessDomain = $json.business_domain;\n\nconst gristSchema = {\n  document_name: `AppNest_${businessDomain}`,\n  created_at: new Date().toISOString(),\n  tables: []\n};\n\n// Add Templates table (required for App Nest)\ngristSchema.tables.push({\n  table_name: 'Templates',\n  description: 'Composants React pour App Nest',\n  columns: [\n    {\n      id: 'template_id',\n      label: 'template_id',\n      type: 'Text',\n      description: 'Identifiant unique du composant'\n    },\n    {\n      id: 'template_name',\n      label: 'template_name',\n      type: 'Text',\n      description: 'Nom affiché dans la navigation'\n    },\n    {\n      id: 'component_type',\n      label: 'component_type',\n      type: 'Text',\n      description: 'Type: functional ou class'\n    },\n    {\n      id: 'component_code',\n      label: 'component_code',\n      type: 'Text',\n      description: 'Code JSX du composant'\n    }\n  ]\n});\n\n// Add business tables\nschema.entities.forEach(entity => {\n  const table = {\n    table_name: entity.table_name,\n    description: entity.description,\n    entity_type: entity.entity_type,\n    columns: entity.columns.map(col => ({\n      id: col.column_name.toLowerCase().replace(/\\s+/g, '_'),\n      label: col.column_name,\n      type: col.column_type,\n      is_required: col.is_required || false,\n      is_unique: col.is_unique || false,\n      is_primary: col.is_primary || false,\n      default_value: col.default_value,\n      description: col.description || ''\n    })),\n    relationships: entity.relationships || []\n  };\n  \n  gristSchema.tables.push(table);\n});\n\nreturn {\n  conversation_id: $json.conversation_id,\n  business_domain: businessDomain,\n  grist_schema: gristSchema,\n  generated_components: $json.generated_components,\n  summary: $json.summary\n};"
      },
      "id": "create-schema",
      "name": "Code: Create Grist Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 460]
    },
    {
      "parameters": {
        "jsCode": "// Create Templates CSV data\nconst components = $json.generated_components;\nconst businessDomain = $json.business_domain;\n\n// CSV header\nlet csvContent = 'template_id,template_name,component_type,component_code\\n';\n\n// Add each component as CSV row\ncomponents.forEach(comp => {\n  // Escape double quotes in code\n  const escapedCode = comp.component_code\n    .replace(/\"/g, '\"\"')  // CSV escape: \" becomes \"\"\n    .replace(/\\n/g, '\\\\n'); // Escape newlines\n  \n  const row = [\n    `\"${comp.component_id}\"`,\n    `\"${comp.component_name}\"`,\n    `\"functional\"`,\n    `\"${escapedCode}\"`\n  ].join(',');\n  \n  csvContent += row + '\\n';\n});\n\nreturn {\n  conversation_id: $json.conversation_id,\n  business_domain: businessDomain,\n  grist_schema: $json.grist_schema,\n  templates_csv: csvContent,\n  templates_count: components.length,\n  generated_components: components,\n  summary: $json.summary\n};"
      },
      "id": "create-templates-csv",
      "name": "Code: Create Templates CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 460]
    },
    {
      "parameters": {
        "jsCode": "// Create installation instructions\nconst businessDomain = $json.business_domain;\nconst schema = $json.grist_schema;\nconst templatesCount = $json.templates_count;\n\nconst instructions = `# Installation Guide - App Nest ${businessDomain}\n\nGénéré le: ${new Date().toISOString()}\nNombre de composants: ${templatesCount}\nNombre de tables: ${schema.tables.length - 1} (+ 1 Templates)\n\n## Étape 1: Créer le document Grist\n\n1. Connectez-vous à Grist\n2. Créez un nouveau document vide\n3. Nommez-le: \"${schema.document_name}\"\n\n## Étape 2: Créer les tables métier\n\n${schema.tables.filter(t => t.table_name !== 'Templates').map((table, i) => `\n### ${i + 1}. Table: ${table.table_name}\n\n**Description:** ${table.description}\n**Type:** ${table.entity_type}\n\n**Colonnes à créer:**\n\n${table.columns.map(col => {\n  let colDef = \\`- \\*\\*${col.label}\\*\\* (${col.type})\\`;\n  if (col.is_primary) colDef += ' - PRIMARY KEY';\n  if (col.is_required) colDef += ' - REQUIS';\n  if (col.is_unique) colDef += ' - UNIQUE';\n  if (col.description) colDef += \\`\\n  Description: ${col.description}\\`;\n  return colDef;\n}).join('\\n')}\n\n${table.relationships.length > 0 ? \\`**Relations:**\\n${table.relationships.map(rel => \\`- ${rel.type} vers ${rel.target} via ${rel.via}\\`).join('\\n')}\\` : ''}\n`).join('\\n')}\n\n## Étape 3: Créer la table Templates\n\n1. Ajoutez une nouvelle table nommée \"Templates\"\n2. Créez les colonnes suivantes:\n   - **template_id** (Text)\n   - **template_name** (Text)\n   - **component_type** (Text)\n   - **component_code** (Text)\n\n## Étape 4: Importer les composants\n\n1. Ouvrez la table \"Templates\"\n2. Cliquez sur \"Import from file\"\n3. Uploadez le fichier \"templates.csv\" fourni\n4. Vérifiez que ${templatesCount} composants ont été importés\n\n## Étape 5: Installer le widget App Nest\n\n1. Ajoutez une nouvelle page\n2. Ajoutez un widget \"Custom Widget\"\n3. URL du widget:\n   \\`\\`\\`\n   https://raw.githubusercontent.com/nic01asFr/grist-dynamic-dashboard/main/Grist_App_Nest_v5_2.html\n   \\`\\`\\`\n4. Access Level: \"Read table\" (minimum)\n5. Sélectionnez la table \"Templates\"\n\n## Étape 6: Configuration initiale\n\n1. Le widget se chargera automatiquement\n2. Navigation disponible dans la sidebar\n3. Composants disponibles:\n${$json.generated_components.map((c, i) => \\`   ${i + 1}. ${c.component_name} (${c.component_type})\\`).join('\\n')}\n\n## Étape 7: Test\n\n1. Testez chaque composant\n2. Ajoutez des données de test dans les tables métier\n3. Vérifiez que les opérations CRUD fonctionnent\n\n## Support\n\nEn cas de problème:\n- Vérifiez la console navigateur (F12)\n- Vérifiez que toutes les tables existent\n- Vérifiez que les noms de colonnes correspondent au schéma\n\n## Schéma complet\n\nVoir le fichier \\`grist_schema.json\\` pour le schéma détaillé.\n`;\n\nreturn {\n  conversation_id: $json.conversation_id,\n  business_domain: businessDomain,\n  grist_schema: $json.grist_schema,\n  templates_csv: $json.templates_csv,\n  installation_guide: instructions,\n  generated_components: $json.generated_components,\n  summary: $json.summary\n};"
      },
      "id": "create-instructions",
      "name": "Code: Create Instructions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 460]
    },
    {
      "parameters": {
        "jsCode": "// Prepare final package\nconst businessDomain = $json.business_domain;\nconst components = $json.generated_components;\n\nreturn {\n  success: true,\n  conversation_id: $json.conversation_id,\n  workflow: 'workflow_5_assemblage_final',\n  business_domain: businessDomain,\n  \n  package: {\n    grist_schema: $json.grist_schema,\n    templates_csv: $json.templates_csv,\n    installation_guide: $json.installation_guide\n  },\n  \n  summary: {\n    total_tables: $json.grist_schema.tables.length,\n    business_tables: $json.grist_schema.tables.length - 1,\n    total_components: components.length,\n    dashboard_count: components.filter(c => c.component_type === 'dashboard').length,\n    crud_count: components.filter(c => c.component_type === 'crud').length,\n    all_components_validated: components.every(c => c.validation_result?.is_valid)\n  },\n  \n  files_generated: [\n    {\n      filename: 'grist_schema.json',\n      description: 'Schéma complet des tables Grist',\n      size_bytes: JSON.stringify($json.grist_schema).length\n    },\n    {\n      filename: 'templates.csv',\n      description: 'Composants React pour import dans table Templates',\n      size_bytes: $json.templates_csv.length,\n      rows: components.length\n    },\n    {\n      filename: 'INSTALLATION.md',\n      description: 'Guide d\\'installation étape par étape',\n      size_bytes: $json.installation_guide.length\n    }\n  ],\n  \n  widget_url: 'https://raw.githubusercontent.com/nic01asFr/grist-dynamic-dashboard/main/Grist_App_Nest_v5_2.html',\n  \n  completed_at: new Date().toISOString(),\n  \n  next_steps: [\n    '1. Télécharger les fichiers générés',\n    '2. Créer le document Grist',\n    '3. Créer les tables selon grist_schema.json',\n    '4. Importer templates.csv dans la table Templates',\n    '5. Installer le widget App Nest',\n    '6. Tester l\\'application'\n  ]\n};"
      },
      "id": "prepare-final-package",
      "name": "Code: Prepare Final Package",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-success-w5",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 460]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input": {
      "main": [
        [
          {
            "node": "Code: Create Grist Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Create Grist Schema": {
      "main": [
        [
          {
            "node": "Code: Create Templates CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Create Templates CSV": {
      "main": [
        [
          {
            "node": "Code: Create Instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Create Instructions": {
      "main": [
        [
          {
            "node": "Code: Prepare Final Package",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Prepare Final Package": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-06T00:00:00.000Z",
  "versionId": "5.0-final"
}
