workflow_4_validation_composant.json
{
  "name": "Workflow 4: Validation Composant (Single)",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// CODE NODE: Format Prompt Agent 11 (Validation)\nconst component = $input.first().json;\n\nconst systemPrompt = `Tu es Agent 11: Syntax Validator.\nTon rôle : Valider qu'UN composant respecte les contraintes App Nest.`;\n\nconst userPrompt = `## COMPOSANT À VALIDER\n\n**ID** : ${component.component_id}\n**Nom** : ${component.template_name}\n**Type** : ${component.component_type}\n**Taille** : ${component.code_length} caractères (~${component.estimated_tokens} tokens)\n\n**Code** :\n\\`\\`\\`javascript\n${component.component_code}\n\\`\\`\\`\n\n---\n\n## 6 TESTS OBLIGATOIRES\n\n### Test 1: Nom Composant ✅\nDoit contenir \"const Component =\"\nRegex: \\`const\\\\s+Component\\\\s*=\\\\s*\\\\(\\`\n\n### Test 2: Pas d'Imports ✅\nAucun \"import\" ou \"require\"\nVérifier absence de: import, require\n\n### Test 3: Styles Inline ✅\nPas de \"className\"\nVérifier absence de: className=\n\n### Test 4: Hooks Autorisés ✅\nUniquement: useState, useEffect, useCallback, useMemo, useRef\nVérifier absence de: useReducer, useImperativeHandle\n\n### Test 5: Validation Array ✅\nSi gristAPI.getData présent → Array.isArray DOIT être présent\nPattern: \\`gristAPI\\\\.getData\\` → doit avoir \\`Array\\\\.isArray\\`\n\n### Test 6: Syntaxe JSX ✅\nCode doit être transformable par Babel\nVérifier:\n- Balises JSX fermées correctement\n- Accolades correctement échappées dans JSX\n- Pas de syntaxe invalide\n\n---\n\n## INSTRUCTIONS DE VALIDATION\n\nPour chaque test:\n1. Exécute le test sur le code\n2. Marque \"✅ OK\" si test réussi\n3. Marque \"❌ ERREUR\" si test échoué avec explication\n4. Marque \"⚠️ WARNING\" si test partiellement réussi\n\n---\n\n## FORMAT DE SORTIE\n\nRéponds UNIQUEMENT avec ce JSON (pas de texte avant/après) :\n\n{\n  \"component_id\": \"${component.component_id}\",\n  \"valid\": true,\n  \"errors\": [],\n  \"warnings\": [],\n  \"constraints_checklist\": {\n    \"component_naming\": \"✅ OK\",\n    \"no_imports\": \"✅ OK\",\n    \"inline_styles\": \"✅ OK\",\n    \"allowed_hooks\": \"✅ OK\",\n    \"array_validation\": \"✅ OK\",\n    \"jsx_syntax\": \"✅ OK\"\n  },\n  \"validation_status\": \"VALID\",\n  \"validation_details\": {\n    \"component_naming_check\": \"Le composant utilise bien 'const Component ='\",\n    \"imports_check\": \"Aucun import détecté\",\n    \"styles_check\": \"Styles inline utilisés correctement\",\n    \"hooks_check\": \"Hooks autorisés uniquement\",\n    \"array_check\": \"Array.isArray() présent pour gristAPI.getData\",\n    \"jsx_check\": \"Syntaxe JSX valide\"\n  }\n}\n\nSi erreur critique détectée:\n- valid: false\n- errors: [\"Description erreur 1\", \"Description erreur 2\"]\n- validation_status: \"INVALID\"\n\nSi warnings (non bloquants):\n- valid: true\n- warnings: [\"Warning 1\", \"Warning 2\"]\n- validation_status: \"VALID_WITH_WARNINGS\"\n`;\n\nreturn {\n  system_prompt: systemPrompt,\n  user_prompt: userPrompt,\n  component_id: component.component_id,\n  component_to_validate: component\n};"
      },
      "id": "code-format-prompt-a11",
      "name": "Code: Format Prompt A11",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.system_prompt }}\\n\\n{{ $json.user_prompt }}",
        "options": {}
      },
      "id": "agent-011",
      "name": "Agent 11: Syntax Validator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "model": "albert-code",
        "options": {
          "temperature": 0.1,
          "maxTokens": 2000
        }
      },
      "id": "llm-011",
      "name": "Albert API - Agent 11",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [650, 480],
      "credentials": {
        "openAiApi": {
          "id": "albert-api-header",
          "name": "Header Albert API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-valid",
              "leftValue": "={{ $json.output.valid }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-valid",
      "name": "IF Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// Composant validé - Retourner avec infos validation\nconst validation = $input.first().json.output;\nconst originalComponent = JSON.parse($execution.customData.get('component_being_validated'));\n\nreturn {\n  ...originalComponent,\n  validation_status: validation.validation_status,\n  validation_result: {\n    valid: validation.valid,\n    warnings: validation.warnings || [],\n    constraints_checklist: validation.constraints_checklist,\n    validated_at: new Date().toISOString()\n  }\n};"
      },
      "id": "code-component-valid",
      "name": "Code: Component Valid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "jsCode": "// Composant invalide - Retourner erreurs\nconst validation = $input.first().json.output;\nconst originalComponent = JSON.parse($execution.customData.get('component_being_validated'));\n\nreturn {\n  ...originalComponent,\n  validation_status: 'INVALID',\n  validation_result: {\n    valid: false,\n    errors: validation.errors || [],\n    warnings: validation.warnings || [],\n    constraints_checklist: validation.constraints_checklist,\n    validated_at: new Date().toISOString()\n  },\n  retry_possible: true\n};"
      },
      "id": "code-component-invalid",
      "name": "Code: Component Invalid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "jsCode": "// Stocker composant en cours de validation\nconst component = $input.first().json.component_to_validate;\n$execution.customData.set('component_being_validated', JSON.stringify(component));\n\nreturn $input.first().json;"
      },
      "id": "code-store-component",
      "name": "Code: Store Component",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 140]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{"node": "Code: Format Prompt A11", "type": "main", "index": 0}]]
    },
    "Code: Format Prompt A11": {
      "main": [[{"node": "Code: Store Component", "type": "main", "index": 0}]]
    },
    "Code: Store Component": {
      "main": [[{"node": "Agent 11: Syntax Validator", "type": "main", "index": 0}]]
    },
    "Agent 11: Syntax Validator": {
      "main": [[{"node": "IF Valid?", "type": "main", "index": 0}]]
    },
    "Albert API - Agent 11": {
      "ai_languageModel": [[{"node": "Agent 11: Syntax Validator", "type": "ai_languageModel", "index": 0}]]
    },
    "IF Valid?": {
      "main": [
        [{"node": "Code: Component Valid", "type": "main", "index": 0}],
        [{"node": "Code: Component Invalid", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-06T00:00:00.000Z",
  "versionId": "1"
}
