workflow_3_generation_composant_final.json
{
  "name": "Workflow 3: Génération Composant (FINAL)",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 460],
      "id": "trigger-w3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Extract input from webhook or Execute Workflow call\nconst input = $input.first().json;\nconst data = input.body || input;\n\nreturn {\n  conversation_id: data.conversation_id,\n  business_domain: data.business_domain,\n  schema: data.schema,\n  use_cases: data.use_cases,\n  component_to_generate: data.component_to_generate,\n  component_index: data.component_index || 0,\n  total_components: data.total_components || 1\n};"
      },
      "id": "extract-input-w3",
      "name": "Extract Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 460]
    },
    {
      "parameters": {
        "jsCode": "// Prepare prompt for Agent 5 (Code Generator)\nconst component = $json.component_to_generate;\nconst schema = $json.schema;\nconst useCases = $json.use_cases;\nconst businessDomain = $json.business_domain;\n\nconst systemPrompt5 = `Tu es Agent 5: Code Generator.\n\nTon rôle : Générer le code React JSX complet pour un composant App Nest Grist.\n\n## CONTEXTE\n\n**Domaine:** ${businessDomain}\n**Composant à générer:** ${component.name} (${component.type})\n**Tables disponibles:** ${schema.entities.map(e => e.table_name).join(', ')}\n\n## CONTRAINTES TECHNIQUES APP NEST\n\n### 1. Format du Composant\n\n**OBLIGATOIRE:** Le composant doit être une variable nommée exactement \\`Component\\`:\n\n\\`\\`\\`javascript\nconst Component = () => {\n  // ... code\n  return (\n    <div>\n      {/* JSX */}\n    </div>\n  );\n};\n\\`\\`\\`\n\n### 2. Hooks React Disponibles\n\n- \\`useState\\` : Gérer l'état local\n- \\`useEffect\\` : Effets de bord (chargement données)\n- \\`useCallback\\` : Mémoriser fonctions\n- \\`useMemo\\` : Mémoriser valeurs calculées\n- \\`useRef\\` : Références DOM\n\n### 3. API Grist (gristAPI)\n\n**Lecture de données:**\n\\`\\`\\`javascript\nconst data = await gristAPI.getData('TableName');\n// Retourne: [{id: 1, nom: 'A'}, {id: 2, nom: 'B'}]\n\\`\\`\\`\n\n**Créer un enregistrement:**\n\\`\\`\\`javascript\nawait gristAPI.addRecord('TableName', {nom: 'Nouveau', ...});\n\\`\\`\\`\n\n**Modifier un enregistrement:**\n\\`\\`\\`javascript\nawait gristAPI.updateRecord('TableName', recordId, {nom: 'Modifié'});\n\\`\\`\\`\n\n**Supprimer un enregistrement:**\n\\`\\`\\`javascript\nawait gristAPI.deleteRecord('TableName', recordId);\n\\`\\`\\`\n\n**Navigation:**\n\\`\\`\\`javascript\ngristAPI.navigate('componentId');\n\\`\\`\\`\n\n### 4. Styles\n\n**Utilise UNIQUEMENT des styles inline (CSS-in-JS):**\n\n\\`\\`\\`javascript\n<div style={{\n  padding: '20px',\n  backgroundColor: '#f5f5f5',\n  borderRadius: '8px'\n}}>\n  ...\n</div>\n\\`\\`\\`\n\n### 5. Patterns par Type de Composant\n\n**DASHBOARD:**\n\\`\\`\\`javascript\nconst Component = () => {\n  const [metrics, setMetrics] = useState({});\n  const [loading, setLoading] = useState(true);\n\n  useEffect(() => {\n    const loadMetrics = async () => {\n      try {\n        const table1 = await gristAPI.getData('Table1');\n        const table2 = await gristAPI.getData('Table2');\n        \n        setMetrics({\n          count1: table1.length,\n          count2: table2.length,\n          total: table1.length + table2.length\n        });\n      } catch (error) {\n        console.error('Erreur:', error);\n      } finally {\n        setLoading(false);\n      }\n    };\n    loadMetrics();\n  }, []);\n\n  if (loading) return <div style={{padding: '20px'}}>Chargement...</div>;\n\n  return (\n    <div style={{padding: '20px'}}>\n      <h1 style={{fontSize: '24px', marginBottom: '20px'}}>Dashboard</h1>\n      <div style={{\n        display: 'grid',\n        gridTemplateColumns: 'repeat(3, 1fr)',\n        gap: '20px'\n      }}>\n        <div style={{\n          padding: '20px',\n          backgroundColor: '#fff',\n          borderRadius: '8px',\n          boxShadow: '0 2px 4px rgba(0,0,0,0.1)'\n        }}>\n          <h3>Métrique 1</h3>\n          <p style={{fontSize: '32px', fontWeight: 'bold'}}>{metrics.count1}</p>\n        </div>\n      </div>\n    </div>\n  );\n};\n\\`\\`\\`\n\n**CRUD:**\n\\`\\`\\`javascript\nconst Component = () => {\n  const [items, setItems] = useState([]);\n  const [formData, setFormData] = useState({});\n  const [editingId, setEditingId] = useState(null);\n  const [loading, setLoading] = useState(true);\n\n  const loadItems = async () => {\n    try {\n      const data = await gristAPI.getData('TableName');\n      setItems(data);\n    } catch (error) {\n      console.error('Erreur chargement:', error);\n    } finally {\n      setLoading(false);\n    }\n  };\n\n  useEffect(() => {\n    loadItems();\n  }, []);\n\n  const handleSave = async () => {\n    try {\n      if (editingId) {\n        await gristAPI.updateRecord('TableName', editingId, formData);\n      } else {\n        await gristAPI.addRecord('TableName', formData);\n      }\n      setFormData({});\n      setEditingId(null);\n      await loadItems();\n    } catch (error) {\n      console.error('Erreur sauvegarde:', error);\n    }\n  };\n\n  const handleDelete = async (id) => {\n    if (confirm('Confirmer la suppression ?')) {\n      try {\n        await gristAPI.deleteRecord('TableName', id);\n        await loadItems();\n      } catch (error) {\n        console.error('Erreur suppression:', error);\n      }\n    }\n  };\n\n  if (loading) return <div style={{padding: '20px'}}>Chargement...</div>;\n\n  return (\n    <div style={{padding: '20px'}}>\n      <h1 style={{fontSize: '24px', marginBottom: '20px'}}>Gestion TableName</h1>\n      \n      {/* Formulaire */}\n      <div style={{\n        padding: '20px',\n        backgroundColor: '#fff',\n        borderRadius: '8px',\n        marginBottom: '20px'\n      }}>\n        <input\n          type=\"text\"\n          value={formData.nom || ''}\n          onChange={(e) => setFormData({...formData, nom: e.target.value})}\n          placeholder=\"Nom\"\n          style={{\n            padding: '10px',\n            border: '1px solid #ddd',\n            borderRadius: '4px',\n            marginRight: '10px'\n          }}\n        />\n        <button\n          onClick={handleSave}\n          style={{\n            padding: '10px 20px',\n            backgroundColor: '#007bff',\n            color: '#fff',\n            border: 'none',\n            borderRadius: '4px',\n            cursor: 'pointer'\n          }}\n        >\n          {editingId ? 'Modifier' : 'Ajouter'}\n        </button>\n      </div>\n\n      {/* Liste */}\n      <div>\n        {items.map(item => (\n          <div key={item.id} style={{\n            padding: '15px',\n            backgroundColor: '#fff',\n            borderRadius: '8px',\n            marginBottom: '10px',\n            display: 'flex',\n            justifyContent: 'space-between',\n            alignItems: 'center'\n          }}>\n            <span>{item.nom}</span>\n            <div>\n              <button\n                onClick={() => {\n                  setFormData(item);\n                  setEditingId(item.id);\n                }}\n                style={{\n                  padding: '5px 10px',\n                  marginRight: '10px',\n                  backgroundColor: '#28a745',\n                  color: '#fff',\n                  border: 'none',\n                  borderRadius: '4px',\n                  cursor: 'pointer'\n                }}\n              >\n                Modifier\n              </button>\n              <button\n                onClick={() => handleDelete(item.id)}\n                style={{\n                  padding: '5px 10px',\n                  backgroundColor: '#dc3545',\n                  color: '#fff',\n                  border: 'none',\n                  borderRadius: '4px',\n                  cursor: 'pointer'\n                }}\n              >\n                Supprimer\n              </button>\n            </div>\n          </div>\n        ))}\n      </div>\n    </div>\n  );\n};\n\\`\\`\\`\n\n## FORMAT DE SORTIE\n\nRéponds UNIQUEMENT avec ce JSON (pas de texte avant/après) :\n\n{\n  \"component_id\": \"${component.id}\",\n  \"component_name\": \"${component.name}\",\n  \"component_type\": \"${component.type}\",\n  \"component_code\": \"CODE JSX COMPLET ICI (échappé en JSON)\",\n  \"tables_used\": [\"Table1\", \"Table2\"],\n  \"dependencies\": [],\n  \"estimated_lines\": 150,\n  \"generation_notes\": \"Notes sur choix d'implémentation\"\n}`;\n\nlet userPrompt5 = '';\n\nif (component.type === 'dashboard') {\n  userPrompt5 = `## GÉNÉRER: DASHBOARD\n\n**Nom:** ${component.name}\n**Description:** ${component.description}\n\n### Tables disponibles:\n\n${schema.entities.map((entity, i) => `\n${i+1}. **${entity.table_name}**\n   - Type: ${entity.entity_type}\n   - Description: ${entity.description}\n   - Colonnes principales: ${entity.columns.slice(0, 5).map(c => c.column_name).join(', ')}\n`).join('')}\n\n### Métriques à afficher:\n\n- Nombre total d'enregistrements par table\n- Statistiques agrégées (sommes, moyennes si applicable)\n- Graphiques simples (utilise des divs et CSS, pas de bibliothèque externe)\n- Navigation vers les composants CRUD\n\nGénère un dashboard moderne et fonctionnel avec ces métriques.`;\n\n} else if (component.type === 'crud') {\n  const tableSchema = schema.entities.find(e => e.table_name === component.entity);\n  \n  userPrompt5 = `## GÉNÉRER: COMPOSANT CRUD\n\n**Nom:** ${component.name}\n**Table:** ${component.entity}\n**Description:** ${component.description}\n\n### Schéma de la table:\n\n**${tableSchema.table_name}** (${tableSchema.entity_type})\n- Description: ${tableSchema.description}\n\n**Colonnes:**\n${tableSchema.columns.map(col => `\n- **${col.column_name}** (${col.column_type})\n  - Requis: ${col.is_required ? 'Oui' : 'Non'}\n  - Unique: ${col.is_unique ? 'Oui' : 'Non'}\n  - Description: ${col.description || 'N/A'}\n`).join('')}\n\n**Relations:**\n${tableSchema.relationships.length > 0 ? tableSchema.relationships.map(rel => `\n- ${rel.type} vers ${rel.target} via ${rel.via}\n`).join('') : '- Aucune relation'}\n\n### Fonctionnalités à implémenter:\n\n1. **CREATE**: Formulaire pour créer un nouvel enregistrement\n2. **READ**: Liste/tableau des enregistrements\n3. **UPDATE**: Modification d'un enregistrement (mode édition)\n4. **DELETE**: Suppression avec confirmation\n5. **Validation**: Vérifier les champs requis avant sauvegarde\n6. **Feedback**: Messages de succès/erreur\n\n### Use cases associés:\n\n${useCases.all_use_cases.filter(uc => \n  uc.uc_id.includes(component.entity.toUpperCase()) ||\n  uc.data_required?.includes(component.entity)\n).slice(0, 5).map((uc, i) => `${i+1}. ${uc.uc_id}: ${uc.description}`).join('\\n')}\n\nGénère un composant CRUD complet et fonctionnel pour cette table.`;\n}\n\nreturn {\n  conversation_id: $json.conversation_id,\n  component_to_generate: component,\n  system_message: systemPrompt5,\n  user_message: userPrompt5\n};"
      },
      "id": "code-format-w3",
      "name": "Code: Format Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 460]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_message }}",
        "options": {
          "systemMessage": "={{ $json.system_message }}"
        }
      },
      "id": "agent-005",
      "name": "Agent 5: Code Generator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [900, 460]
    },
    {
      "parameters": {
        "model": "albert-code",
        "options": {
          "temperature": 0.2,
          "maxTokens": 8000
        }
      },
      "id": "llm-005",
      "name": "Albert API - Agent 5",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [900, 660],
      "credentials": {
        "openAiApi": {
          "id": "albert-api-header",
          "name": "Header Albert API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "output",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "edit-fields-a5",
      "name": "Edit Fields A5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1120, 460]
    },
    {
      "parameters": {
        "jsCode": "// Return generated component\nconst generatedComponent = $input.first().json.output;\n\nreturn {\n  success: true,\n  conversation_id: $('Extract Input').first().json.conversation_id,\n  workflow: 'workflow_3_generation_composant',\n  \n  component_id: generatedComponent.component_id,\n  component_name: generatedComponent.component_name,\n  component_type: generatedComponent.component_type,\n  component_code: generatedComponent.component_code,\n  \n  tables_used: generatedComponent.tables_used,\n  dependencies: generatedComponent.dependencies || [],\n  estimated_lines: generatedComponent.estimated_lines,\n  generation_notes: generatedComponent.generation_notes,\n  \n  validation_result: {\n    is_valid: true,\n    syntax_check: 'pending',\n    message: 'Composant généré, validation en attente'\n  },\n  \n  generated_at: new Date().toISOString(),\n  \n  next_steps: {\n    workflow: 'workflow_4_validation_composant',\n    action: 'Valider le code généré (syntaxe, conformité App Nest)'\n  }\n};"
      },
      "id": "return-component",
      "name": "Code: Return Component",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-success-w3",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 460]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Extract Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Input": {
      "main": [
        [
          {
            "node": "Code: Format Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Format Prompt": {
      "main": [
        [
          {
            "node": "Agent 5: Code Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 5: Code Generator": {
      "main": [
        [
          {
            "node": "Edit Fields A5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Albert API - Agent 5": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 5: Code Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields A5": {
      "main": [
        [
          {
            "node": "Code: Return Component",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Return Component": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-06T00:00:00.000Z",
  "versionId": "3.0-final"
}
